<section class="all-post">
  <ng-container *ngFor="let post of blogPosts; let first = first">
    <ng-container *ngIf="!!post.visible">
      <article class="blog-post" [routerLink]="post.id" [class.first]="first">
        <div class="blog-post--new" *ngIf="first">NEW</div>
        <picture class="blog-post__image">
          <source media="(max-width: 480px)" [srcset]="defaultBlogPostImage || post.featuredImage.fields?.file?.url" />
          <source media="(min-width: 481px)" [srcset]="defaultBlogPostImage || post.featuredImage.fields?.file?.url" />
          <img
            [src]="defaultBlogPostImage || post.featuredImage.fields?.file?.url"
            [alt]="post.title"
            loading="lazy"
          />
        </picture>
        <div class="blog-post__wrapper">
          <h3 class="blog-post__title text--large">{{ post.title }}</h3>
          <span class="blog-post__date">{{ post.updateDate | date }}</span>
          <span class="blog-post__author"
            >Written by: <b>{{ post.author }}</b></span
          >
        </div>
      </article>
    </ng-container>
  </ng-container>
</section>
