body.default-theme {
  --primary-color: #fc6b00;
  --primary-active-color: #ef6600;
  --secondary-color: #cccccc;

  --primary-text-color: #707070;
  --secondary-text-color: #999999;
  --accent-text-color: #ffffff;

  --background-light: #f9f9f9;
  --background-medium: #f6f6f6;
  --background-strong: #f1f1f1;
  --background-strongest: #EEEEEE;

  --highlight-color-1: #74d568;
  --highlight-color-2: #e74c3c;
  --highlight-color-3: #f1c40f;
  --highlight-color-4: #34495e;

  --highlight-alt-color-1: #f1fbf0;
  --highlight-alt-color-2: #fdedec;
  --highlight-alt-color-3: #fef9e7;
  --highlight-alt-color-4: #ebedef;

  --lightest: #ffffff;
  --darkest: #000000;
  --darkest-color: 0, 0, 0;
}
