<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__about">
        <a [routerLink]="['/']" class="header__brand" aria-label="Project Anchor logo">
          <img height="80" width="80" src="assets/images/angular_white.svg" loading="lazy" alt="Project Anchor logo"/>
        </a>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </p>
      </div>
      <div class="footer__navigations">
        <h4>Navigation</h4>
        <!--  TODO: Add has-hover effect -->
        <ul class="footer__navigation">
          <li *ngFor="let navigationItem of footerNavigationItems" class="footer__navigation-item">
            <a [routerLink]="navigationItem.url">{{ navigationItem.label }}</a>
          </li>
        </ul>
      </div>
      <div class="footer__company">
        <h4>Company</h4>
        <!--  TODO: Add has-hover effect -->
        <ul class="footer__navigation">
          <li *ngFor="let navigationItem of footerCompanyNavigationItems" class="footer__navigation-item">
            <a [routerLink]="navigationItem.url">{{ navigationItem.label }}</a>
          </li>
        </ul>
      </div>
      <div class="footer__social">
        <h4>Socials</h4>
        <!--  TODO: Add social icons for this items -->
        <ul class="footer__navigation">
          <li *ngFor="let navigationItem of footerSocialNavigationItems" class="footer__navigation-item">
            <i class="{{ navigationItem.icon }}"></i>
            <a [routerLink]="navigationItem.url">{{ navigationItem.label }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copyright">
      <p>© {{ currentYear }} All right reserved.</p>
      <ul class="footer__navigation" #footerCopyRightNavigation>
        <li
          *ngFor="let navigationItem of footerPolicyNavigationItems"
          (mouseenter)="onMenuItemMouseEnter($event)"
          (mouseleave)="onMenuItemMouseLeave($event)"
          class="footer__navigation-item"
        >
          <a [routerLink]="navigationItem.url">{{ navigationItem.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
